.big {
    width: 100%;
    height: 1375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: #CDCDCD;
    // background: url(../../assets/BG_Big_Container1_desk.png);
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: right;
    // background-size: contain;
    @media (max-width: 480px) {height: auto; background: #C4C4C4; padding: 50px 0;}
    .big_layer {
        position: absolute;
        width: 100%;
        height: 1375px;
        background: linear-gradient(90deg, #C4C4C4 58.33%, rgba(196, 196, 196, 0) 100%);
        z-index: 100;
        @media (max-width: 480px) {display: none;}
    }
    .big_bg {
        height: 1375px;
        position: absolute;
        right: 0;
        @media (max-width: 480px) {display: none;}
        img {
            height: 100%;
        }
    }

    .big_container1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 1216px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        padding-top: 134px;
        z-index: 101;
        @media (max-width: 480px) {padding: 0;}
        .big_text {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          h4 {
            width: auto;
            font-family: 'Roboto';
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 43px;
            letter-spacing: 0em;
            text-align: left;
            color: #161616;
          }
        }
        .big_cards {
            display: flex;
            justify-content: space-around;
            gap: 10px;
            margin-top: 20px;
            @media (max-width: 480px) {flex-direction: column; gap: 30px;}
            .card {
                width: 309px;
                height: auto;
                .big_card_image {
                    width: 100%;
                    height: auto;
                }
                .big_card_text {
                    width: 100%;
                    height: auto;
                    padding: 9px 0;
                    h5 {
                        font-family: 'Roboto';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 29px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #161616;
                    }
                    p {
                        font-family: 'Roboto';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #161616;
                    }
                }
                .big_card_link {
                    height: 32px;
                    width: 104px;
                    background: #EB364E;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        font-family: 'Roboto';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        color: #F6F6F6;
                        cursor: pointer;
                    }
                }
            }
            
        }
        .potenci_container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 70px;
            margin-top: 185px;
            padding-bottom: 90px;
            @media (max-width: 480px) {margin-top: 30px; gap: 30px; padding: 0;}
            .potenci_title {
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: 480px) {width: 90%; margin: 0 auto;}
                h3 {
                    font-family: 'Roboto';
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 43px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #161616;
                    @media (max-width: 480px) {text-align: center; width: 100%;}
                }
            }
            .potenci_box {
                width: 100%;
                height: 144px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media (max-width: 480px) {flex-direction: column; height: auto; gap: 30px; width: 90%; margin: 0 auto;}
                .potenci_numbers {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h5 {
                        font-family: 'Roboto';
                        font-size: 56px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 56px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: #161616;
                        @media (max-width: 480px) {font-size: 40px; line-height: 40px;}
                        span {
                            font-family: 'Roboto';
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 34px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #161616;
                        }
                    }
                    p {
                        width: 200px;
                        font-family: 'Roboto';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 29px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: #161616;
                        @media (max-width: 480px) {text-align: center; width: 100%;}
                    }
                }
            }
            .potenci_footer {
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: 480px) {text-align: center; width: 90%; margin: 0 auto;}
                p {
                    font-family: 'Roboto';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28.8px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #161616;
                    @media (max-width: 480px) {text-align: center; width: 100%;}
                }
            }
        }
    }
}