.casa {
    width: 100%;
    height: 458px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 480px) {height: auto; padding: 50px 0; background: #4E4E4E;}
    .casa_layer {
        position: absolute;
        width: 100%;
        height: 458px;
        background: linear-gradient(270deg, #4E4E4E 75%, rgba(107, 97, 97, 0) 150%);
        z-index: 100;
        @media (max-width: 480px) {display: none;}
    }
    .casa_bg {
        height: 458px;
        position: absolute;
        left: 0;
        @media (max-width: 480px) {display: none;}
        img {
            height: 100%;
        }
    }

    .casa_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 1216px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        padding-top: 96px;
        padding-bottom: 114px;
        z-index: 101;
        @media (max-width: 480px) {padding: 0;}
        .casa_title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            @media (max-width: 480px) {width: 80%;}
            h3 {
                font-family: 'Roboto';
                font-size: 56px;
                font-style: normal;
                font-weight: 500;
                line-height: 56px;
                letter-spacing: 0em;
                text-align: left;
                color: #F6F6F6;
                @media (max-width: 480px) {font-size: 40px; line-height: 40px; text-align: center;}
            }
            p {
                font-family: 'Roboto';
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 34px;
                letter-spacing: 0em;
                text-align: left;
                color: #F6F6F6;
                @media (max-width: 480px) {text-align: center; width: 100%; font-size: 18px; line-height: 18px;}
            }
        }
        .casa_box_master {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 820px) {width: 90%; flex-direction: column;}
            @media (max-width: 480px) {width: 90%; flex-direction: column;}
            .casa_box {
                width: 100%;
                height: 144px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 50px;
                @media (max-width: 820px) {margin-top: 10px;}
                @media (max-width: 480px) {flex-direction: column; height: auto; gap: 30px; width: 100%;}
                .casa_box_title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 23px;
                    @media (max-width: 480px) {width: 80%;}
                    h4 {
                        font-family: 'Roboto';
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 34px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: #F6F6F6;
                    }
                }
                .casa_wrapper {
                    display: flex;
                    gap: 23px;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: 480px) {width: 100%;}
                    .casa_numbers {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 25px;
                        h5 {
                            font-family: 'Roboto';
                            font-size: 56px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 56px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #F6F6F6;
                            @media (max-width: 820px) {font-size: 40px; line-height: 40px; text-align: center;}
                            @media (max-width: 480px) {font-size: 40px; line-height: 40px; text-align: center;}
                            span {
                                font-family: 'Roboto';
                                font-size: 36px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 43px;
                                letter-spacing: 0em;
                                text-align: center;
                                color: #F6F6F6;
                                @media (max-width: 820px) {text-align: center; width: 100%; font-size: 24px; line-height: 24px;}
                                @media (max-width: 480px) {text-align: center; width: 100%; font-size: 24px; line-height: 24px;}
                            }
                        }
                        p {
                            width: 200px;
                            font-family: 'Roboto';
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 33px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #F6F6F6;
                            @media (max-width: 820px) {text-align: center; width: 100%; font-size: 18px; line-height: 18px;}
                            @media (max-width: 480px) {text-align: center; width: 100%; font-size: 18px; line-height: 18px;}
                        }
                    }
                }
                
            }
        }
        
    }
}