.faq_documentos {
    width: 100%;
    height: 620px;
    background: #FFFFFF;
    position: relative;
    .faq_documentos_bg {
        width: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
    }
    .faq_documentos_container {
        width: auto;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 55px 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        @media (max-width: 480px) {flex-direction: column; position: relative;}
          h3 {
            width: 238px;
            height: 86px;
            font-family: 'Roboto';
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 43px;
            letter-spacing: 0em;
            text-align: left;
            color: #444444;
            margin-right: 30px;
            margin-bottom: 340px;
            @media (max-width: 480px) {margin-bottom: 30px; margin-top: 0;}
          }
    }
}