.sobre_desenvolvimento {
    width: 100%;
    height: 936px;
    background: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -2000;
    position: relative;
    padding-bottom: 100px;
    @media (max-width: 480px) {height: auto; padding: 50px 0px; clip-path: none; margin-top: 0;}
    .vector_desenvolvimento {
        width: 60%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0px;
        z-index: 9999999;
        @media (max-width: 480px) {display: none;}
        img {
            width: 100%;
            height: 100%;
        }
    }
    .sobre_desenvolvimento_container {
        width: 100%;
        display: flex;
        max-width: 1216px;
        align-items: center;
        margin: 0 auto;
        position: relative;
        justify-content: space-between;
        @media (max-width: 480px) {width: 90%; flex-direction: column;}
        .sobre_desenvolvimento_title {
          width: 495px;
          display: flex;
          flex-direction: flex;
          gap: 84px;
          z-index: 999999;
          @media (max-width: 480px) {width: 100%;}
          h3 {
            font-family: 'Roboto';
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: 56px;
            letter-spacing: 0em;
            text-align: left;
            color: #FAF9F9;
            margin-top: 300px;
            @media (max-width: 480px) {font-size: 50px; margin-top: 0;}
          }
        }
        .sobre_desenvolvimento_text {
            width: 595px;
            @media (max-width: 480px) {width: 100%;}
            p {
                font-family: 'Roboto';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 29px;
                letter-spacing: 0em;
                text-align: left;
                color: #F6F6F6;
                padding-bottom: 20px;
            }
        }
    }
}