.container2 {
    width: 100%;
    height: 440px;
    position: absolute;
    top: 550px;
    z-index: 101;
    @media (max-width: 480px) {width: 100%;}
    .carousel2 {
        width: 100%;
        height: 480px;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 20px;
        .item2 {
            width: 605px;
            height: 336px;
            flex: none;
            @media (max-width: 480px) {width: 100%;}
            .carousel_title {
                width: 605px;
                height: 40px;
                padding: 20px 0;
                background: transparent;
                position: relative;
                @media (max-width: 480px) {display: none;}
                h3 {
                    font-family: 'Roboto';
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 43px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #161616;
                }
            }
            .image2 {
                width: 100%;
                height: 303px;
                border-top: 2px solid #4840AB;;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .info2 {
                height: 73px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #C4C4C4;
                .name2 {
                    width: 100%;
                    height: auto;
                    padding-left: 15px;
                    font-family: 'Roboto';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #444444;
                }
            }
        }
        .item2_text {
            width: 605px;
            height: 336px;
            @media (max-width: 480px) {width: 100%;}
            .carousel_title {
                width: 605px;
                height: 40px;
                padding: 20px 0;
                background: transparent;
                position: relative;
                @media (max-width: 480px) {display: none;}
                h3 {
                    font-family: 'Roboto';
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 43px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #161616;
                }
            }

            .info2_text {
                width: 605px;
                height: 376px;
                background: #C4C4C4;
                @media (max-width: 480px) {width: 100vw;}
                .carousel_title {
                    position: absolute;
                    top: -70px;
                    @media (max-width: 480px) {display: none;}

                    h3 {
                        font-family: 'Roboto';
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 43px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #161616;
                    }
                }
    
    
                .name2_text {
                    width: 90%;
                    padding-top: 23px;
                    padding-left: 28px;
                    p {
                        width: 90%;
                        font-family: 'Roboto';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #161616;
                    }
                }
            }
        }
    }::-webkit-scrollbar {
        display: none;
    }
    .buttons2 {
        width: 100px;
        margin-left: 30px;
        display: flex;
        gap: 20px;
        @media (max-width: 480px) {display: none;}
        button {
            background: transparent;
            .fa-chevron-left {
                color: #EB364E;
                font-size: 50px;
            }
            .fa-chevron-right {
                color: #EB364E;
                font-size: 50px;
            }
        }
        
    }
    .buttons {
        margin-left: 0px;
        display: flex;
        gap: 20px;
        @media (max-width: 480px) {display: none;}
        button {
            background: transparent;
            .fa-chevron-left {
                color: #EB364E;
                font-size: 50px;
            }
            .fa-chevron-right {
                color: #EB364E;
                font-size: 50px;
            }
        }
        
    }

}