@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  padding-top: 18px;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.navbar .navbar_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1261px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar_container .navbar_logo {
  width: 295px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar_container .navbar_logo img {
  width: 295px;
  height: 60px;
}

.navbar .navbar_container .navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  color: white;
}

.navbar .navbar_container .navbar_menu p {
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.hero {
  width: 100%;
  height: 1228px;
  background: url(../../assets/HeroBG_Desk.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  z-index: -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.hero .hero_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero_container .hero_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.hero .hero_container .hero_text h1 {
  width: 460px;
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #FAF9F9;
}

.hero .hero_container .hero_text p {
  width: 393px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: left;
  color: #FAF9F9;
}

.hero .hero_container .hero_text a {
  width: 161px;
  padding: 15px;
  color: #EB364E;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 3px;
  text-align: center;
  border: 1px solid #EB364E;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.about {
  width: 100%;
  height: 100vh;
  background: #EB364E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(49% 25%, 100% 11%, 100% 60%, 100% 100%, 0% 100%, 0% 60%, 0% 38%);
          clip-path: polygon(49% 25%, 100% 11%, 100% 60%, 100% 100%, 0% 100%, 0% 60%, 0% 38%);
  margin-top: -400px;
}

.about .about_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}

.about .about_container .about_text {
  width: 100%;
}

.about .about_container .about_text p {
  width: 539px;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #F6F6F6;
}

.about .about_container .about_image {
  width: 603px;
  height: auto;
  z-index: 999;
  overflow-y: hidden;
  position: relative;
}

.about .about_container .about_image img {
  width: 100%;
}

.news {
  width: 100%;
  height: 723px;
  background: #FAF9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .news_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}

.news .news_container .news_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .news_container .news_text h4 {
  width: 100px;
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #161616;
}

.news .news_container .news_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
}

.news .news_container .news_cards .card {
  width: 250px;
  height: auto;
}

.news .news_container .news_cards .card .news_card_image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.news .news_container .news_cards .card .news_card_image img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.news .news_container .news_cards .card .news_card_text {
  width: 100%;
  height: auto;
  padding: 34px 0;
}

.news .news_container .news_cards .card .news_card_text h5 {
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #161616;
}

.news .news_container .news_cards .card .news_card_text p {
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #161616;
}

.news .news_container .news_cards .card .news_card_link {
  height: 32px;
  width: 104px;
  background: #EB364E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .news_container .news_cards .card .news_card_link a {
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #F6F6F6;
  cursor: pointer;
}

.big {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #CDCDCD;
}

.big .big_container1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  padding-top: 134px;
}

.big .big_container1 .big_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big .big_container1 .big_text h4 {
  width: auto;
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #161616;
}

.big .big_container1 .big_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
}

.big .big_container1 .big_cards .card {
  width: 309px;
  height: auto;
}

.big .big_container1 .big_cards .card .big_card_image {
  width: 100%;
  height: auto;
}

.big .big_container1 .big_cards .card .big_card_text {
  width: 100%;
  height: auto;
  padding: 9px 0;
}

.big .big_container1 .big_cards .card .big_card_text h5 {
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #161616;
}

.big .big_container1 .big_cards .card .big_card_text p {
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #161616;
}

.big .big_container1 .big_cards .card .big_card_link {
  height: 32px;
  width: 104px;
  background: #EB364E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big .big_container1 .big_cards .card .big_card_link a {
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #F6F6F6;
  cursor: pointer;
}

.big .big_container1 .potenci_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
  margin-top: 185px;
  padding-bottom: 90px;
}

.big .big_container1 .potenci_container .potenci_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big .big_container1 .potenci_container .potenci_title h3 {
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #161616;
}

.big .big_container1 .potenci_container .potenci_box {
  width: 100%;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big .big_container1 .potenci_container .potenci_box .potenci_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big .big_container1 .potenci_container .potenci_box .potenci_numbers h5 {
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  color: #161616;
}

.big .big_container1 .potenci_container .potenci_box .potenci_numbers h5 span {
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #161616;
}

.big .big_container1 .potenci_container .potenci_box .potenci_numbers p {
  width: 200px;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #161616;
}

.big .big_container1 .potenci_container .potenci_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big .big_container1 .potenci_container .potenci_footer p {
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0em;
  text-align: left;
  color: #161616;
}

.barragem {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4E4E4E;
}

.barragem .barragem_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  padding-top: 96px;
  padding-bottom: 114px;
}

.barragem .barragem_container .barragem_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.barragem .barragem_container .barragem_title h3 {
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #F6F6F6;
}

.barragem .barragem_container .barragem_title p {
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #F6F6F6;
}

.barragem .barragem_container .barragem_box {
  width: 100%;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.barragem .barragem_container .barragem_box .barragem_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.barragem .barragem_container .barragem_box .barragem_numbers h5 {
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.barragem .barragem_container .barragem_box .barragem_numbers h5 span {
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.barragem .barragem_container .barragem_box .barragem_numbers p {
  width: 200px;
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.vertedouro {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #233376;
}

.vertedouro .vertedouro_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  padding-top: 96px;
  padding-bottom: 114px;
}

.vertedouro .vertedouro_container .vertedouro_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.vertedouro .vertedouro_container .vertedouro_title h3 {
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #F6F6F6;
}

.vertedouro .vertedouro_container .vertedouro_title p {
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #F6F6F6;
}

.vertedouro .vertedouro_container .vertedouro_box {
  width: 100%;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.vertedouro .vertedouro_container .vertedouro_box .vertedouro_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.vertedouro .vertedouro_container .vertedouro_box .vertedouro_numbers h5 {
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.vertedouro .vertedouro_container .vertedouro_box .vertedouro_numbers h5 span {
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.vertedouro .vertedouro_container .vertedouro_box .vertedouro_numbers p {
  width: 200px;
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.casa {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4E4E4E;
}

.casa .casa_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  padding-top: 96px;
  padding-bottom: 114px;
}

.casa .casa_container .casa_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.casa .casa_container .casa_title h3 {
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #F6F6F6;
}

.casa .casa_container .casa_title p {
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #F6F6F6;
}

.casa .casa_container .casa_box_master {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.casa .casa_container .casa_box_master .casa_box {
  width: 100%;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.casa .casa_container .casa_box_master .casa_box .casa_box_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 23px;
}

.casa .casa_container .casa_box_master .casa_box .casa_box_title h4 {
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.casa .casa_container .casa_box_master .casa_box .casa_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.casa .casa_container .casa_box_master .casa_box .casa_wrapper .casa_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.casa .casa_container .casa_box_master .casa_box .casa_wrapper .casa_numbers h5 {
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.casa .casa_container .casa_box_master .casa_box .casa_wrapper .casa_numbers h5 span {
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.casa .casa_container .casa_box_master .casa_box .casa_wrapper .casa_numbers p {
  width: 200px;
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.reservatorio {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #233376;
}

.reservatorio .reservatorio_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  padding-top: 96px;
  padding-bottom: 114px;
}

.reservatorio .reservatorio_container .reservatorio_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.reservatorio .reservatorio_container .reservatorio_title h3 {
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #F6F6F6;
}

.reservatorio .reservatorio_container .reservatorio_box {
  width: 100%;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.reservatorio .reservatorio_container .reservatorio_box .reservatorio_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

.reservatorio .reservatorio_container .reservatorio_box .reservatorio_numbers h5 {
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.reservatorio .reservatorio_container .reservatorio_box .reservatorio_numbers h5 span {
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.reservatorio .reservatorio_container .reservatorio_box .reservatorio_numbers p {
  width: 200px;
  height: 53px;
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.subestacao {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4E4E4E;
}

.subestacao .subestacao_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  padding-top: 96px;
  padding-bottom: 114px;
}

.subestacao .subestacao_container .subestacao_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.subestacao .subestacao_container .subestacao_title h3 {
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #F6F6F6;
}

.subestacao .subestacao_container .subestacao_title p {
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #F6F6F6;
}

.subestacao .subestacao_container .subestacao_box {
  width: 100%;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.subestacao .subestacao_container .subestacao_box .subestacao_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.subestacao .subestacao_container .subestacao_box .subestacao_numbers h5 {
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.subestacao .subestacao_container .subestacao_box .subestacao_numbers h5 span {
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.subestacao .subestacao_container .subestacao_box .subestacao_numbers p {
  width: 200px;
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
}

.areas {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #C4C4C4;
}

.areas .areas_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  padding-top: 96px;
  padding-bottom: 114px;
}

.areas .areas_container .areas_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 245px 0;
}

.areas .areas_container .areas_text h3 {
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43.2px;
  letter-spacing: 0em;
  text-align: center;
  color: #161616;
}

.areas .areas_container .areas_text p {
  width: 627px;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0em;
  text-align: center;
  color: #161616;
}

.areas .areas_container .vector_areas {
  width: 1000px;
  z-index: 90999;
  opacity: 1;
  position: absolute;
}

.areas .areas_container .vector_areas img {
  width: 500px;
  height: 200px;
}

.tecnologia {
  width: 100%;
  height: 1078px;
  background: #E7E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -400px;
  -webkit-clip-path: polygon(49% 22%, 100% 36%, 100% 100%, 50% 100%, 0% 100%, 0% 9%);
          clip-path: polygon(49% 22%, 100% 36%, 100% 100%, 50% 100%, 0% 100%, 0% 9%);
}

.tecnologia .tecnologia_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  gap: 132px;
}

.tecnologia .tecnologia_container .tecnologia_text {
  width: 441px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.tecnologia .tecnologia_container .tecnologia_text h3 {
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #444444;
}

.tecnologia .tecnologia_container .tecnologia_text p {
  width: 441px;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #444444;
}

.tecnologia .tecnologia_container .tecnologia_image {
  width: 603px;
  height: auto;
  z-index: 999;
  overflow-y: hidden;
  position: relative;
}

.tecnologia .tecnologia_container .tecnologia_image img {
  width: 100%;
}

.separator_tecnologia {
  position: relative;
  width: 100%;
  height: 200px;
}

.separator_tecnologia::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 200px;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
          clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator_tecnologia::after {
  position: absolute;
  top: -200px;
  content: "";
  width: 100%;
  height: 100%;
  background: #E7E5E5;
  -webkit-clip-path: polygon(100% 50%, 0 100%, 100% 100%);
          clip-path: polygon(100% 50%, 0 100%, 100% 100%);
}

.separator_tecnologia.reverse {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.vertical .separator_tecnologia.reverse {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.duvidas {
  width: 100%;
  height: 370px;
  background: url(../../assets/BG_Duvidas_desk.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.duvidas .duvidas_layer {
  width: 100%;
  height: 370px;
  background: #000000;
  opacity: 0.4;
  position: absolute;
  z-index: 9;
}

.duvidas .duvidas_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}

.duvidas .duvidas_container .duvidas_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  z-index: 10;
}

.duvidas .duvidas_container .duvidas_text h3 {
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #F6F6F6;
}

.duvidas .duvidas_container .duvidas_text .duvidas_link {
  height: 48px;
  width: 178px;
  background: #EB364E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.duvidas .duvidas_container .duvidas_text .duvidas_link a {
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #F6F6F6;
  text-transform: uppercase;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 402px;
  background: #EB364E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
}

.footer .footer_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  gap: 132px;
}

.footer .footer_container .footer_links {
  width: 1129px;
  height: 402px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FAF9F9;
  position: absolute;
  left: -100px;
  -webkit-clip-path: polygon(0% 0, 0% 100%, 100% 100%, 80% 0);
  clip-path: polygon(0% 0, 0% 100%, 100% 100%, 80% 0);
}

.footer .footer_container .footer_links .footer_logo {
  width: 198px;
  padding-top: 75px;
  padding-left: 97px;
}

.footer .footer_container .footer_links .footer_logo img {
  width: 100%;
}

.footer .footer_container .footer_links .footer_links_box {
  padding-top: 75px;
  padding-left: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
}

.footer .footer_container .footer_links .footer_links_box a {
  width: 185px;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #444444;
  text-decoration: none;
  cursor: pointer;
}

.footer .footer_container .footer_links .footer_separator {
  margin-top: 87px;
  margin-left: 47px;
  margin-right: 47px;
  width: 1px;
  height: 190px;
  background: #606060;
}

.footer .footer_container .footer_links .footer_links_box2 {
  padding-top: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
}

.footer .footer_container .footer_links .footer_links_box2 a {
  width: 296px;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #444444;
  text-decoration: none;
  cursor: pointer;
}

.footer .footer_container .footer_socials {
  position: absolute;
  right: 0;
  bottom: -120px;
  text-align: right;
}

.footer .footer_container .footer_socials p {
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  color: #FAF9F9;
}

.footer .footer_container .footer_socials .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_container .footer_socials .social_icons .fa-linkedin-in {
  font-size: 18px;
  color: #FAF9F9;
  cursor: pointer;
}

.footer .footer_container .footer_socials .social_icons span {
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: right;
  color: #FAF9F9;
}

.footer .footer_container .footer_rights {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000000;
}

.footer .footer_container .footer_rights p {
  width: 300px;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #444444;
  margin-top: 170px;
  margin-right: 910px;
}

.footer hr {
  width: 100%;
  height: 1px;
  background: #6B4646;
  z-index: 100000;
  position: absolute;
  bottom: 61px;
}
/*# sourceMappingURL=main.css.map */